.dialog_concept_tree {
  height: 90%; /* fallback for browsers without calc */
  width: 70%; /* fallback for browsers without calc */
  height:calc(100% - 45px);
  width: calc(100% - 50px);
  overflow-x:auto;
  overflow-y:auto;
  border:1px solid black;
  vertical-align:top;
  padding-bottom:10px;
	padding-left:10px;
}
#concept_tree {
  height: 90%; /* fallback for browsers without calc */
  width: 70%; /* fallback for browsers without calc */
  height:calc(100% - 45px);
  width:calc(100% - 390px);
  overflow-x:auto;
  overflow-y:auto;
  border:1px solid black;
  vertical-align:top;
  padding-bottom:10px;
}
.nomarginnopad { margin-top:0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; }
#selectable {width:100%; margin: 0; padding: 0; height:100%;} 
.light-background {background-color: #eef;}
ul.visibility-list-table {list-style:none; margin:0; padding:0; width:100%;display:table;}
ul.visibility-list-table>#header {background-color:#ccc; cursor:default;display:table-header-group;}
ul.visibility-list-table div {display:table-cell;}
ul.visibility-list-table li {display:table-row;list-style:none;}
.full-browser {min-width:975px;}
.visibility-list-table div.visibility-name,div.visibility-type,div.visibility-path,div.visibility-setting,div.empty-visibility-setting {display:block;float:left;padding:3px 5px;display:table-cell;}
.visibility-list-table div.visibility-name{width:22%;border-left:1px solid #ccc;display:table-cell;}
.visibility-list-table div.visibility-type{width:5%;display:table-cell;}
.visibility-list-table div.visibility-path{width:35%;display:table-cell;}
.visibility-list-table div.visibility-setting{width:5%;display:table-cell;min-width:37px}
.visibility-list-table div.empty-visibility-setting{width:5%;display:table-cell;height:100%;min-width:37px}
.visibility-list-table div.form-item{margin:0;}
#visibility-list-table ul.visibility-sub-list {list-style:none; margin:0;padding:0;}
.visibility_checkbox {border:1px solid #000000;}
#selectable .ui-selected { background: #F39814; color: white; }
.visibility_settings {width:100%; border:0px;}
.visibility_settings div {padding: 2px 5px;}
#select-result {width:100%; height:100%; overflow-x:auto; overflow-y:auto;}
.visibility-result {border:0px;}
.tree-indent {width:10px; display:inline-block;}
#left_tree {width:65%; height:100%;}
/*#advanced_hidden {width:100%; height :100%;}*/
#action-bar {width:calc(100% - 390px); padding:35px 5px 5px 5px;display:inline;position:absolute;height:50px;}
.action-button {width:20%; padding:5px; display:inline; }
.scroller-holder {position:absolute; top:0; right:0; height:100%;max-height:910px;float:right;width:380px;overflow-y:scroll;}
/*overwrite default Drupal #page*/
#page { padding:0; margin-left:10px; margin-right:10px;}
ul.visibility-list-table>#dialog-header {background-color:#ccc; cursor:default;display:table-header-group;}
ul.visibility-list-table div.hidden-visibility-setting {display:none;}
.sidora-resources-icon {
    background-image: url('../images/assorted_glass%20buttons.png');
    opacity: 0.7;
    display: inline-block;
    height: 36px;
    width: 36px;
}
.visibility-list-table>#header {background-color:#ccc; cursor:default;}
.visibility-list-table td.visibility-name,td.visibility-type,td.visibility-path,td.visibility-setting,td.empty-visibility-setting {display:block;float:left;padding:3px 5px;}
.visibility-list-table td.visibility-name{width:22%;border-left:1px solid #ccc;}
.visibility-list-table td.visibility-type{width:5%;}
.visibility-list-table td.visibility-path{width:35%;}
.visibility-list-table td.visibility-setting{width:5%;min-width:37px}
.visibility-list-table td.empty-visibility-setting{width:5%;height:100%;min-width:37px}
.visibility-list-table td.form-item{margin:0;}
