body.logged-in {
  background-color: white;
}
.fieldset {
  padding: 2em;
}
legend {
  height: 11px;
}
.ui-dialog .ui-resizable-handle {
  background-color: rgba(0, 0, 0, 0);
}
.ui-dialog p {
  line-height: 1.2;
  font-size: 18px;
}
a.exhibition-link-unavailable {
  display: none;
  color: gray !important;
  cursor: default;
}
