@font-face {
    font-family: PrimeLight;
    src: url("Prime Light.otf") format("opentype");
}

@font-face {
    font-family: PrimeRegular;
    src: url("Prime Regular.otf") format("opentype");
}
@font-face {
    font-family: Mouser;
    src: url('Mouser.ttf')  format('truetype');
}
#branding {
  background: white;
  padding: 8px 20px 3px 20px;
}
.bright-green {
  background-color: #ccffcc
}
.bright-pink {
  background-color: #ffdddd
}
.bright-yellow {
  background-color: #ffffdd
}
#forjstree {
  overflow: auto;
  height: 100%;
  min-height: 150px;
}
#fjt-holder {
  overflow: hidden;
}
.sharedWithMeMain {
  position: absolute;
  left: -10px;
  background-image: none;
  height: 200px;
  overflow:auto;
  width: calc(100% + 10px);
}
.sharedWithMeMain li a {
  border-left: solid 6px #ddd
}
.sharedWithMeMain li a.p_create,
.sharedWithMeMain li a.p_update,
.sharedWithMeMain li a.p_delete
 {
  border-left: solid 6px #d80
}
li a.not-owned {
  /*
  border-left: solid 6px #66d
  */
}
#concept_tabs > ul > li {
  border:none;
  padding: 0;
  margin: 0;
  background: transparent;
}
.jstree-default .jstree-node, .jstree-default .jstree-icon {
  /* 
  background-image: none;
  */
}
.ui-state-active .sidora-thin-button {
  background: moccasin;
}
#page {
  margin-left: 0px;
  margin-right: 0px;
  display: none; /* Get rid of the non-stylized information, will show at end of initialization */
}
.sidora-info-holder {
  display: none;
}
.resource-list-tn {
  max-height:90px;
  max-width:150px;
}
a.has-thumbnail > div {
  float: left;
}
a.has-thumbnail > div > img {
  vertical-align: sub;
}
.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

/* The > mark on the menu system - move it in */
#concept-create{
 margin: 0;
 width: 150px;
}

.ui-menu a.ui-state-active {
  background: #beebff;
}
dl {
  margin-left:3px;
  padding-top:3px;
}
dt {
  font-weight: bold;
}
#concept-file-menu > li {
  min-width:150px;
}
#concept-create-menu .ui-menu .ui-menu-item , 
#concept-meta-menu .ui-menu .ui-menu-item , 
#resource-meta-menu .ui-menu .ui-menu-item,
#resource-create-menu .ui-menu .ui-menu-item
{
  padding-top:0px;
  padding-bottom:0px;
  padding-left:0px;
  width: auto
}
li a input {
  top: 2px;
  position:relative;
}
.sidora-menu li{
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  z-index: 1;
}
#res_table td {
  text-align: right;
  padding: 3px;
}
#res_table td:nth-child(3){
  width: 99%;
}
.resource-list-tn {
  width: 100px;
  min-width: 150px;
}
.resource-list-label {
  text-align: left;
  margin-left: 15px;

}
#sidora-resource-type-dropdown {
  margin-left:5px;
  margin-bottom: 5px;
}
#resource-meta {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  padding:0;
}
#sidora_content_concept_info {
  position:absolute;
  top:0;
  left:300px;
  width:500px;
}
#workbench-menu{
  position:relative;
  top: -35px;
  height: 0px;
  text-align: right;
}
.jstree-default .jstree-node {
  margin-left:0px;
}
#forjstree .region-content ul {
  margin:0;
  padding:0 0 0 1em;
}
#forjstree ul, #forjstree .block ul, #forjstree .item-list ul, #destination-tree ul {
  margin: 0 0 0 1em;
}
  /*
      content:url("data:image/gif;base64,R0lGODlhCgAKAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAKAAoAAAISlG8AeMq5nnsiSlsjzmpzmj0FADs=");
  */
.not_original_metadata{
  background: url("/misc/message-16-ok.png") no-repeat scroll 0 50% transparent;
  height: 16px;
  width:16px;
}
.original_metadata{
  background: url("/misc/message-16-error.png") no-repeat scroll 0 50% transparent;
  height: 16px;
  width:16px;
}
.dataTables_filter{
  display:none;
}
.dataTables_wrapper{
  width:50%;
}
.ui-resizable-w{
  width:20px;
}
#resourceInformationPane {
  padding-left:0px;
  float:right;
  border-left-style:solid;
  border-left-width:10px;
  border-left-color:gray;
  display:inline-block;
  width:40%;
}
#concept-resource-list, #concept-meta , #res_table_wrapper{
  min-height: 600px;
}
#concept-meta , #res_table_wrapper{
  min-width: 270px;
}
#concept-meta {
  margin-top: 30px;
} 
#concept-resource-list {
  min-width: 785px;
}
table tr.is-being-moved td {
  opacity: 0.5;
  background: black;
}
div.metadata-table {
  padding-top: 10px; 
}
#resource-menu-holder {
  position: absolute;
}
#res_table {
  width: 96%;
}
#res_table_wrapper {
  width: 97%;
  display: inline-block;
  overflow: hidden;
  margin-top: 42px;
}
#res_table td.highlight {
  background-color: whitesmoke !important;
}

#resourceIframeHolder {
  height:100%;
  width:100%;
  float:right;
  padding: 0;
}
#iframeOverlay, #iframeTreeOverlay {
  height:100%;
  width:100%;
  position:absolute;
  display:none;
  background:rgba(100,100,100,0.5);
  top: 0;
}
#resourceResizable {
  height: 100%;
  padding: 0;
  margin-left: 2px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: 0;
}

button.ui-button-text-only .ui-button-text {
  padding: 0;
}

#concept-meta-menu, .resource-menu-holder {
  position: absolute;
  top: 50px;
}
#concept_tabs, #sidora_content_concept_info {
  min-width: 822px;
}
#concept_tabs {
  border:none;
  padding: 0;
  margin: 0;
}
#resourceInformationPane {
  min-width: 400px;
}

.workbench-nav ul, .workbench-nav .block ul, .workbench-nav .item-list ul {
  margin: 0;
  z-index: 2;
}
.workbench-nav h1 {
  font-family: Helvetica;
  font-weight: 100;
}

.workbench-nav .nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.workbench-nav .nav li a {
	background: #333;
	color: #fff;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
	border-top: 1px solid #069;
}

.workbench-nav .nav li a:hover {
	color: #069;
}

/*=== submenu ===*/

.workbench-nav .nav ul {
	display: none;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.workbench-nav .nav ul a {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #222;
}

.workbench-nav .nav ul li a:hover {
	color: #069;
}
#queueMessage {
  z-index: 4;
}
footer {
  height: 60px;
  position: fixed;
  border-top: aqua 1px solid;
  width: 100%;
  bottom: 0;
  background: white;
  z-index: 91; 
  /* divider bar has z-index 90, so be above that */
}
/*
Table paging
*/
#sidora-resources-button-row {
  position: absolute;
  top: 50px;
  left: 270px;
}
.sidora-resources-icon.disabled{
  opacity:0.2;
}
.sidora-resources-icon:not(.disabled):hover{
  cursor:pointer;
  opacity:1.0
}
.sidoraMenu{display:table;margin:0;padding:0;list-style:none;}
.sidoraMenu li{display:table-cell;background-color:#322f32;margin:0;list-style:none}
.sidoraMenu li a{
  padding: 6px 15px 7px 15px;
  display:block;
  background-color:transparent;
  color:#fff;
  text-transform:uppercase;
  cursor:pointer;
  font-size:12px
}
.sidoraMenu li a:hover{background-color:#3a3a3a}
.sidoraMenu li:hover>a{background-color:#3a3a3a}
.sidoraMenu li ul{
  display:none;position:absolute;z-index:9999;padding:0;margin:0;list-style:none
  z-index:90;
}
.sidoraMenu li ul li{background-color:#322f32;display:block;border-bottom:1px solid #484548;padding:0;list-style:none;position:relative}
.sidoraMenu li ul li a{font-size:11px;text-transform:none;display:block;padding:7px;border-top:1px solid transparent;border-bottom:1px solid transparent}
.sidoraMenu li ul li a.isParent{background-color:#3a3a3a}
.sidoraMenu li ul li a:hover{background-color:#514c52;border-top:1px solid #322f32;border-bottom:1px solid #322f32}
.sidoraMenu li ul li a {
  padding: 2px 2px 2px 6px;
}
.sidora-resources-icon {
  background-image: url('../images/assorted_glass%20buttons.png');
  opacity:0.7;
  display:inline-block;
  height: 36px;
  width: 36px;
}
#sidora-resource-sort{
  display: inline-block;
}
#fjt-holder {
  overflow:auto;
	height:inherit;
}
.ui-widget-overlay, .ui-dialog.ui-widget.ui-widget-content {
  z-index: 1000;
}
.ui-resizable-e{
  width:10px;
}
.sidora-ui-text {
  font-size: 12px;
  font-weight: bold;
  font-family: Arial;
  color: rgb(89,89,89);
}
.project-space-drop-down {
   overflow: hidden;
   background: url(images/dd_1.png) no-repeat right #ddd;
   background-position-x: calc(100% + 4px);
   background-position-y: calc(100% + 4px);
   border: 1px solid #ccc;
   border-radius: 5px;
   min-width: 200px;
   width: 90%;
   height: 20px;
   position: absolute;
   top: 6px;
   left: 6px;
   background-color: white;
}
.project-space-drop-down select {
   background: transparent;
   -webkit-appearance: none;
   min-width: 200px;
   width: 100%;
   height: 20px;
   padding-left: 5px;
}
.project-space-drop-down select:active, .project-space-drop-down select:hover {
  outline:none;
}
.sidora-thin-button:hover {
  text-decoration: none;
}
.sidora-thin-button {
  background-color: rgb(240, 240, 250); 
  border: 1px solid rgb(100, 100, 100); 
  border-radius: 12px; 
  font-size: 12px; 
  font-weight: bold; 
  font-family: Arial; 
  color: rgb(89, 89, 89); 
  line-height: 14px; 
  margin: 10px; 
  padding: 1px 13px;
  text-decoration: none;
  cursor: pointer;
}
#conceptResizable {
  background-color: rgb(245,245,245);
}
button.sidora-button span.sidora-button-text{
  padding:0;display:block;line-height:normal;
}
button.sidora-button:active{
  background-color:rgb(102, 102, 102);
  background-image:none;
  background-position:0% 0%;
  background-repeat:repeat;
  border-bottom-color:rgb(85, 85, 85);
  border-left-color:rgb(85, 85, 85);
  border-right-color:rgb(85, 85, 85);
  border-top-color:rgb(85, 85, 85);
  color:rgb(255, 255, 255);
  outline-color:rgb(255, 255, 255);
  text-shadow:rgb(34, 34, 34) 0px -1px 0px;
  column-rule-color:rgb(255, 255, 255);
  -webkit-text-emphasis-color:rgb(255, 255, 255);
  -webkit-text-fill-color:rgb(255, 255, 255);
  -webkit-text-stroke-color:rgb(255, 255, 255);
}
button.sidora-button{
animation-delay:0s;animation-direction:normal;animation-duration:0s;animation-fill-mode:none;animation-iteration-count:1;animation-name:none;animation-play-state:running;animation-timing-function:ease;background-attachment:scroll;background-blend-mode:normal;background-clip:border-box;background-color:rgba(0, 0, 0, 0);
background-image:url("images/buttons.png");
background-origin:padding-box;background-position:0px 0px;background-repeat:repeat-x;background-size:auto;border-bottom-color:rgb(180, 180, 180);border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-bottom-style:solid;border-bottom-width:1px;border-collapse:separate;border-image-outset:0px;border-image-repeat:stretch;border-image-slice:100%;border-image-source:none;border-image-width:1;border-left-color:rgb(210, 210, 210);border-left-style:solid;border-left-width:1px;border-right-color:rgb(210, 210, 210);border-right-style:solid;border-right-width:1px;border-top-color:rgb(228, 228, 228);border-top-left-radius:20px;border-top-right-radius:20px;border-top-style:solid;border-top-width:1px;bottom:0px;box-shadow:none;box-sizing:border-box;
break-after:auto;break-before:auto;break-inside:auto;caption-side:top;clear:none;clip:auto;color:rgb(90, 90, 90);content:;cursor:pointer;direction:ltr;display:inline-block;empty-cells:show;float:none;font-family:"Lucida Grande", Verdana, sans-serif;font-kerning:auto;font-size:14.3088px;font-stretch:normal;font-style:normal;font-variant:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-weight:normal;height:27px;image-rendering:auto;isolation:auto;left:0px;letter-spacing:normal;line-height:normal;list-style-image:none;list-style-position:outside;list-style-type:disc;margin-bottom:7.1544px;margin-left:0px;margin-right:5.72352px;margin-top:7.1544px;max-height:none;max-width:none;min-height:0px;min-width:0px;mix-blend-mode:normal;motion-offset:0px;motion-path:none;motion-rotation:auto 0deg;object-fit:fill;object-position:50% 50%;opacity:1;orphans:2;outline-color:rgb(90, 90, 90);outline-offset:0px;outline-style:none;outline-width:0px;overflow-wrap:normal;overflow-x:visible;overflow-y:visible;padding-bottom:4px;padding-left:17px;padding-right:17px;padding-top:4px;pointer-events:auto;position:relative;resize:none;right:0px;speak:normal;table-layout:auto;tab-size:8;text-align:center;text-align-last:auto;text-decoration:none;text-indent:0px;text-rendering:auto;text-shadow:none;text-size-adjust:auto;text-overflow:clip;text-transform:none;top:0px;touch-action:auto;transition-delay:0s;transition-duration:0s;transition-property:all;transition-timing-function:ease;unicode-bidi:normal;vertical-align:middle;visibility:visible;white-space:normal;widows:2;width:151px;will-change:auto;word-break:normal;word-spacing:0px;word-wrap:normal;z-index:auto;zoom:1;
-webkit-appearance:none;backface-visibility:visible;-webkit-background-clip:border-box;-webkit-background-origin:padding-box;-webkit-border-horizontal-spacing:0px;-webkit-border-image:none;-webkit-border-vertical-spacing:0px;-webkit-box-align:stretch;-webkit-box-decoration-break:slice;-webkit-box-direction:normal;-webkit-box-flex:0;-webkit-box-flex-group:1;-webkit-box-lines:single;-webkit-box-ordinal-group:1;-webkit-box-orient:horizontal;-webkit-box-pack:start;-webkit-box-reflect:none;-webkit-clip-path:none;column-count:auto;column-gap:normal;column-rule-color:rgb(90, 90, 90);column-rule-style:none;column-rule-width:0px;column-span:none;column-width:auto;align-content:stretch;align-items:flex-start;align-self:stretch;flex-basis:auto;flex-grow:0;flex-shrink:1;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;-webkit-font-smoothing:auto;-webkit-highlight:none;-webkit-hyphenate-character:auto;-webkit-line-break:auto;-webkit-line-clamp:none;-webkit-locale:"en";-webkit-margin-before-collapse:collapse;-webkit-margin-after-collapse:collapse;-webkit-mask-box-image:none;-webkit-mask-box-image-outset:0px;-webkit-mask-box-image-repeat:stretch;-webkit-mask-box-image-slice:0 fill;-webkit-mask-box-image-source:none;-webkit-mask-box-image-width:auto;-webkit-mask-clip:border-box;-webkit-mask-composite:source-over;-webkit-mask-image:none;-webkit-mask-origin:border-box;-webkit-mask-position:0% 0%;-webkit-mask-repeat:repeat;-webkit-mask-size:auto;order:0;perspective:none;perspective-origin:75.5px 13.5px;-webkit-print-color-adjust:economy;-webkit-rtl-ordering:logical;shape-outside:none;shape-image-threshold:0;shape-margin:0px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0.180392);-webkit-text-combine:none;-webkit-text-decorations-in-effect:none;-webkit-text-emphasis-color:rgb(90, 90, 90);-webkit-text-emphasis-position:over;-webkit-text-emphasis-style:none;-webkit-text-fill-color:rgb(90, 90, 90);-webkit-text-orientation:vertical-right;-webkit-text-security:none;-webkit-text-stroke-color:rgb(90, 90, 90);-webkit-text-stroke-width:0px;transform:none;transform-origin:75.5px 13.5px;transform-style:flat;-webkit-user-drag:auto;-webkit-user-modify:read-only;user-select:text;-webkit-writing-mode:horizontal-tb;-webkit-app-region:no-drag;buffered-rendering:auto;
clip-path:none;clip-rule:nonzero;mask:none;filter:none;flood-color:rgb(0, 0, 0);flood-opacity:1;lighting-color:rgb(255, 255, 255);stop-color:rgb(0, 0, 0);stop-opacity:1;color-interpolation:sRGB;color-interpolation-filters:linearRGB;color-rendering:auto;fill:rgb(0, 0, 0);fill-opacity:1;fill-rule:nonzero;marker-end:none;marker-mid:none;marker-start:none;mask-type:luminance;shape-rendering:auto;stroke:none;stroke-dasharray:none;stroke-dashoffset:0px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-width:1px;alignment-baseline:auto;baseline-shift:0px;dominant-baseline:auto;text-anchor:start;writing-mode:horizontal-tb;vector-effect:none;paint-order:fill stroke markers;d:none;cx:0px;cy:0px;x:0px;y:0px;r:0px;rx:auto;ry:auto;
}
